@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Lexend;
}

@layer utilities {
    .scrollbar-hide {
        /* Hide scrollbar for Webkit, Internet Explorer, Edge */
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
}

/* MARKDOWN */
.markdown img {
    max-height: 300px;
    margin-top: 8px;
    border-radius: 0.5rem;
}

.markdown a {
    text-decoration: underline;
}
